<div id="hero" style="background-image: url({{ section.settings.bgimage | img_url: '1280x800', format: 'jpg' }});">
  <div id="heroContent" class="wrapper">
    <div id="heroText" class="heroContent-block">
      <div id="heroContent-block__title">{{ section.settings.title }}</div>
      <p>{{ section.settings.text }}</p>
    </div>
    {% assign heroImg = section.settings.fgimage | default: section.settings.image %}
    {% if heroImg %}
    <div id="heroImg" class="heroContent-block">
      <img src="{{ section.settings.fgimage | img_url: '698x572' }}" alt=" ">
    </div>
    {% endif %}
  </div>
  
</div>

<style>
  #hero {
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  #heroContent {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .heroContent-block { width: 100%; }

  #heroText { 
    padding: 0rem;
    color: white;
    text-align: center;
  }

  #heroImg { 
    text-align: center;
    align-self: flex-end;
  }

  #heroImg img {
    min-width: 50%;
    max-width: 378px;
    height: auto;
  }

  #heroContent-block__title { 
    --minFontSize: 35px;
    --maxFontSize: 60px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 15px;
  }

  @media (min-width: 1000px) {
    #hero {
      height: 860px;
    }

    #heroContent {
      flex-direction: row;
      max-width: 880px;
      padding: 0;
    }

    .heroContent-block {
      width: 50%;
    }

    #heroText { 
      padding: 5rem 0;
      text-align: left;
    }
  }

  @media (min-width: 1400px) {
    #heroContent {
      max-width: 1274px;
    }

    #heroText { 
      padding: 5rem;
    }
  }
</style>