{% include 'hero' %}

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "<h2>Heading</h2>"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "image_picker",
        "id": "bgimage",
        "label": "Background Image",
        "info": "1280 x 800px .jpg recommended"
      },
      {
        "type": "image_picker",
        "id": "fgimage",
        "label": "Foreground Image",
        "info": "698 x 572px .png recommended"
      }
    ]
  }
{% endschema %}
