<section id="featuredSection">
  <div id="featuredPostContainer" class="wrapper">
    <div id="featuredPost">
      <div class="featuredPost__block">
        <div id="featuredPost__img" style="background-image: url({{ article.image | img_url: '900x835', crop: 'center' }});"></div>
      </div>
      <div class="featuredPost__block">
        <div id="featuredPost__meta">
          <div class="post-card__icon">{% include 'post-icon' %}</div>
          <time class="post-card__date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d' }}</time>
          <h3 class="post-card__title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <p>{{ article.content }}</p>
          {% include 'read-more' %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #featuredSection {
    background-color: #B5A484;
    height: 470px;
  }

  #featuredPostContainer {
    margin-left: 22px;
    margin-right: 22px;
    position: relative;
  }

  #featuredPost {
    display: flex;
    height: 570px;
    flex-direction: column;
    position: absolute;
    top: -150px;
    left: 0;
  }

  .featuredPost__block {
    width: 100%;
    height: 285px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #featuredPost__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  #featuredPost__meta {
    text-align: center;
    padding: 2rem;
  }

  #featuredPost__meta > .post-card__icon {
    background: transparent;
  }

  #featuredPost__meta > .post-card__title {
    padding: 0;
  }

  @media (min-width: 600px) {
    #featuredPostContainer {
      max-width: 100%;
      margin-left: 33px;
      margin-right: 33px;
    }
  }

  @media (min-width: 1000px) {
    #featuredSection {
      height: 280px;
    }

    #featuredPost {
      flex-direction: row;
      height: auto;
      top: -300px;
    }

    .featuredPost__block {
      width: 50%;
      height: auto;
    }

    #featuredPostContainer {
      max-width: 880px;
      margin: 0 auto;
      padding: 0;
    }

    .featuredPost__block {
      height: 500px;
    }

    #featuredPost__meta {
      padding: 3rem;
    }

    #featuredPost__meta > .post-card__title {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1400px) {
    #featuredSection {
      height: 370px;
    }

    #featuredPostContainer {
      max-width: 1274px;
    }

    .featuredPost__block {
      height: 590px;
    }

    #featuredPost__meta {
      padding: 5.75rem;
    }

    #featuredPost__meta > .post-card__title {
      padding: 0 4rem;
    }
  }
</style>